<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List ToDo</title>
  <link  type="text/css" rel="stylesheet" href="{% static 'todo/css/current_todo.css'%}">
</head>
<body>
<h1>ToDo List</h1>
<ul>
  {% for todo in todos %}
    <a href="{% url 'todo_details' pk=todo.pk%}">
      <li>
        {% if todo.important %}
          <h3><b>{{ todo.title }}</b></h3>
        {% else %}
          <h3><i>{{ todo.title }}</i></h3>

        {% endif %}
      </li>
    </a>

  {% endfor %}
</ul>
<a href="{% url 'create_todo' %}">Создать задачи</a>
<br>
<br>
<a href="{% url 'home' %}">К домашней странице</a>
</body>
</html>
